body{
    background-color: rgb(47, 237, 47); 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    position: relative; 

}

.container {
    position: relative; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

.field-image {
    width: 100%; 
    height: auto;
    position: absolute; 
    top: 0;
    left: 0;
}

.player {
    position: absolute; 
    background-color: #3498db;
    color: #fff;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: none;
}

.ja1 { top: 300px; left: 300px; } 
.ja2 { top: 300px; left: 400px; }
.ja3 { top: 300px; left: 500px; }
.ja4 { top: 300px; left: 200px; }
.ja5 { top: 300px; left: 100px; }
.forward1 { top: 100px; left: 650px; }
.forward2 { top: 300px; left: 650px; }
.forward3 { top: 500px; left: 650px; }
.midfield1 { top: 50px; left: 800px; }
.midfield2 { top: 200px; left: 800px; }
.midfield3 { top: 400px; left: 800px; }
.midfield4 { top: 550px; left: 800px; }
.defense1 { top: 100px; left: 950px; }
.defense2 { top: 300px; left: 950px; }
.defense3 { top: 500px; left: 950px; }
.goalkeeper { top: 300px; left: 1100px; }

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
#options {
    text-align: center;
}

#options button {
    margin: 10px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    box-sizing: border-box;
}